@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pcrc15');
  src:  url('fonts/icomoon.eot?pcrc15#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pcrc15') format('truetype'),
    url('fonts/icomoon.woff?pcrc15') format('woff'),
    url('fonts/icomoon.svg?pcrc15#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e900";
}
.icon-cheveron-down:before {
  content: "\e901";
}
.icon-cheveron-up:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e905";
}
.icon-location-shopping:before {
  content: "\e903";
}
.icon-shopping-cart:before {
  content: "\e904";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
